
      <h2>Here Are Your Media</h2>
      
      <!-- Cart table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">PurchasecartId</th>
            <th scope="col">UserId</th>
            <th scope="col">MediaId</th>
            <th scope="col">Media Title</th>
          </tr>
        </thead>
        <tbody id="cartTableBody">
          <!-- Cart data -->
          <!-- /Cart data -->
        </tbody>
      </table>
      <!-- /Cart table -->

      <button type="button" class="btn btn-secondary" id="continueBrowsing">
        Continue browsing
      </button>
      <button type="button" class="btn btn-secondary" id="purchasesHistory">
        Saving history
      </button>

      <div id="purchasesDiv">
        <h1 class="mt-5">Saving history</h1>

        <!-- Purchases table -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">SavingId</th>
              <th scope="col">UserId</th>
              <th scope="col">MediaId</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody id="purchasesTableBody">
            <!-- Purchases data -->
            <!-- /Purchases data -->
          </tbody>
        </table>
      </div>
      <!-- /Purchases table -->

      <!-- Purchase confirmation modal -->
      <div
        class="modal fade"
        id="purchaeConfirmationModal"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        role="dialog"
        aria-labelledby="purchaeConfirmationModal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Enjoy your Media</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Purchase confirmation modal -->
 
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>