<div class="cardA" style="width: 60rem; text-align: center; justify-content: center;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <h1>WELCOME TO MEDIA CAROUSSEL</h1>
            <div class="carousel-inner">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
          
        <div class="card-body"style=" text-align: center; justify-content: center;">
            <h1 style="background-color: gray; color: white;">ABOUT US</h1>
            <p class="card-text"> 
            Downtime is a user created database where users can store movies or shows they have watched, music they have listened to, or books they have read with all of the details associated to it and individual ratings.</p>
            <p>keep track of what you have watched, listed or read</p>
        </div>
        
        <div class="list-group" style=" text-align: center; justify-content: center;">
            <h2 style="background-color: gray; color: white;">EXCLUSIVE BENEFITS</h2>
            <a href="#" class="list-group-item list-group-item-action">Personalize your online media</a>
            <a href="#" class="list-group-item list-group-item-action">Save your favorite book, movie or music</a>
        </div>
</div>
 