<div>Test</div>

<!-- {{#each artist/album/song as |music|}} -->
    {{!-- <div>
        <p>{{music.id}}</p>
        <p>{{music.music_tile}}</p>
        <p>{{music.music_artist}}</p>
        <p>{{music.music_album}}</p>
    </div> --}}
<!-- {{/each}} -->