{{#each songs as |song|}}
  <div>
    <p>{{id}}</p>
    <h1>{{song_title}}</h1>
    <p>{{artist}}</p>
    <p>{{album}}</p>
    <button class="btn btn-primary" id="btnSave">Save</button>
  </div>
{{/each}}